/* font-family: 'Rochester', cursive; */
 

* {
  margin: 0 auto;  
  padding: 0;

}  
@viewport {
  width: 1200px;
  min-zoom: 0.25;
  max-zoom: 5;
  orientation: landscape;
} 

 
body { 
  width: 1900px;
  background: #F3EDE1; 
}
 
::placeholder {
  opacity: 0.3;
  color: brown; 
}

.grid {
  padding: 0px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}


.login {
  background: #F3EDE1; 
  height: 100%;
  text-align: center;
  padding: 80px;

}

.boxImage {
  background: #F3EDE1; 
  height: 100%;
  padding: 80px;
}

.image {
  background-image: url("./Images/lovecouple.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
  width: 600px;
}

.title { 
  font-family: 'Rochester', cursive;
  font-size: 185px;
  font-weight: 400;
}

form {
  margin-top: 70px;
}

label {
  margin: 30px 0 15px 0;
  font-size: 27px;
  display: block;
  font-family: 'Roboto', sans-serif;
}

form>input[type=text], form>input[type=password] {
  font-size: 20px;
  margin-bottom: 15px;
  display: block;
  text-align: center;
  background: white;
  border-radius: 10px;
  width: 300px;
  height: 45px;
  position: relative;

} 

form>input[type=submit] {

  background: red;
  width: 200px;
  height: 45px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  Line-height: 28px;
  display: block;
  font-family: 'Roboto', sans-serif;

}

.hide {
  display: none;
}

.show {
  display: block;
}

/* CIPHER */


.cipher {  
 
    background: url("./Images/lovehearts.png");
    background-repeat: no-repeat;
    background-position: 85%;
    background-size: 450px;
    padding: 0px 150px;
}

.title2 {
  font-family: 'Rochester', cursive;
  font-size: 165px;
  font-weight: 400;
}


.userName {
  display: inline-block;
  color: RED;
  font-weight: BOLD;
}

.subtitle {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  margin: 40px 0px;
  font-weight: 400;
}


.offset {
  margin: 15px 0px;
  width: 200px;
  display: inline;

}

.offset>label {
  display: inline-block;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.offset>input {

  margin: 0px 0px 0px 20px;
  height: 45px;
  background: white;
  display: inline-block;
  width: 60px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 15px;
}

.grid3 {
  padding: 0px 150px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "textA  f1  textB"
    "textA  f4  textB"
    "textA  f2  textB"
    "f3     f f ";
}

.textA {
  grid-area: textA;
}

.f1 {
  padding: 20px 50px;
  grid-area: f1;
}

.f2 {
  padding: 20px 50px;
  grid-area: f2;
}

.f4 {
  padding: 20px 50px;
  grid-area: f4;
}

.f3 {
  grid-area: f3; 
  margin: 0px;
}

.textB {
  grid-area: textB;

}

.textB>textarea {
  background: white;
  border-radius: 10px;
  border: 2px solid black;
  height: 100%;  width: 650px; 
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
}

.textA>textarea {
  background: white;
  border-radius: 10px;
  border: 2px solid black;
  height: 100%;
  width: 650px; 
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
}

.f1>input,
.f2>input { 
  width: 160px;
  height: 50px;
  border-radius: 10px;
  background: red;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  border: 0px;
}

.f3>input {
  margin: 35px 0px 0px 0px;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  border: 0px;
}

.f4>input {
  width: 160px;
  height: 50px;
  border-radius: 10px;
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  border: 0px;
}




#errorSubmit {
  height: 20px;
  color: red;
  margin: 10px 0px;
  font-size: 15px;
  display: block;
  font-family: 'Roboto', sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.offsetIncrement, .offsetDecrement {
  margin-left: 10px; 
  display: inline-block;
  border-radius: 5px; 
  width: 45px;
  height: 40px;
  background: white; 
  color: red;
  font-weight: bold;
  font-size: 20px;
}
 


.modal{ 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  padding: 0 1.5rem;
  transition: 0.5s easy all;
   
}

.modal > .modal-container{
  background-color: #fff;
  max-width: 500px;
  padding: 2rem;
  margin: 10vh auto;
  border-radius: 10px; 
}

.modal > .modal-container > h1{ 
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;  
}

.modal > .modal-container > p{
  margin-top: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif; 
  line-height: 1.4;
}